*,
*::after,
*::before {
   box-sizing: border-box;
}

.page__body {
   margin: 0;
   font-family: $font;
   background-color: #000;
}

.container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   padding-top: 62px;
}
.header__nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;

   @media (max-width: 860px) {
      flex-direction: column;
      align-items: flex-start;
   }
}

.header__link-logo {
   @media (max-width: 1000px) {
   }
}
.menu {
   @extend %list-reset;
   display: flex;

   @media (max-width: 1000px) {
      flex-grow: 1;
      margin-left: auto;
      justify-content: flex-end;
   }
   @media (max-width: 860px) {
      margin-left: 0;
      margin-top: 40px;
      justify-content: flex-start;
   }
   @media (max-width: 640px) {
      display: none;

      &--opened {
         display: block;
         position: fixed;
         right: 0;
         top: 0;
         margin-top: 0;
         padding-left: 81px;
         width: 300px;
         height: 100vh;
         background-color: rgba(26, 50, 54, 0.95);
      }
   }
}
.menu__item {
   &:not(:last-child) {
      margin-right: 50px;
   }
}
.menu__link {
   color: #fff;
   text-decoration: none;
   font-size: 15px;
   line-height: 18px;

   &:hover {
      color: #1abc0f;
   }
}
.socials {
   @extend %list-reset;
   display: flex;

   @media (max-width: 1000px) {
      margin-top: 100px;
      width: 100%;
   }
   @media (max-width: 860px) {
      margin-top: 66px;
   }
   @media (max-width: 640px) {
      margin-top: 80px;
   }
}
.socials__item {
   &:not(:last-child) {
      margin-right: 21px;
   }
}

.socials__link {
   text-decoration: none;
   width: 30px;
   height: 30px;
   background-repeat: no-repeat;
   background-position: center;

   display: block;

   &--vk {
      background-image: url("../img/vk.svg");
      background-size: 30px 18px;
   }
   &--instagram {
      background-image: url("../img/instagram.svg");
      background-size: 18px 18px;
   }
   &--youtube {
      background-image: url("../img/youtube.svg");
      background-size: 26px 18px;
   }
}

.burger {
   margin: 0;
   padding: 0;
   border: none;
   width: 30px;
   height: 20px;
   position: absolute;
   right: 0;
   display: none;
   cursor: pointer;
   background-color: transparent;
   background-image: url("../img/burger.svg");
   background-repeat: no-repeat;
   background-size: 100%;

   @media (max-width: 640px) {
      display: block;
   }
}
