.header-intro {
  width: 100%;
}

.page__header {
  @media (min-width: 768px) {
    margin-bottom: 69px;
  }
  @media (min-width: 320px) {
    margin-bottom: 59px;
  }
  @media (max-width: 470px) {
    margin-bottom: 42px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 179px;

  @media (max-width: 900px) {
    padding: 0 100px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.menu__link {
  display: block;
  padding: 16px 0;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: $main-text-color;
  transition: color 0.3s;

  &--active {
    color: $active;
  }
  &:hover {
    color: $hover;
  }

  @media (max-width: 768px) {
    display: block;
    padding: 4px 0;
    padding-left: 12px;

    &:hover {
      background-color: rgb(229, 229, 229);
    }
  }
}

.header__nav {
  @media (min-width: 768px) {
    margin: 28px 0 34px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    margin: 23px 0 28px;
  }
  @media (max-width: 768px) {
    margin-top: 23px;
  }
  @media (max-width: 767px) {
    display: flex;
    position: absolute;
    width: 182px;
    height: 208px;
    background-color: $burger-bg-color;
    top: 36px;
    right: 1500px;
    transition: 0.5s;
    // transform: translateY(-100%);
    .nav__list {
      display: flex;
      flex-direction: column;
    }
    .menu__item {
      display: block;
      width: 174px;
      justify-content: start;
    }
    .menu__link {
      font-size: 11px;
      line-height: 22px;
      text-transform: uppercase;
      color: $main-text-color;
      transition: color 0.3s;

      &--active {
        color: $active;
      }
      &:hover {
        color: $hover;
      }
    }
  }
}

.burger {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.header__burger {
  width: 44px;
  height: 37px;
  background-color: black;
  position: relative;
  margin-bottom: 22px;
  margin-top: 22px;
  float: right;
  cursor: pointer;
}

.burger__line {
  display: block;
  width: 17px;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 14px;
  &_first {
    top: 13px;
    &--open {
      top: 13px;
      transform: translateY(6px) rotate(45deg);
    }
  }
  &_second {
    top: 17px;
    &--open {
      display: none;
    }
  }
  &_third {
    top: 21px;
    &--open {
      top: 21px;
      transform: translateY(-2px) rotate(-45deg);
    }
  }
}

// .burger__line {
//   display: block;
//   width: 17px;
//   height: 2px;
//   background-color: white;
//   position: absolute;
//   right: 14px;
//   &_first--open {
//     top: 13px;
//     transform: translateY(6px) rotate(45deg);
//   }
//   &_second--open {
//     display: none;
//   }
//   &_third--open {
//     top: 21px;
//     transform: translateY(-2px) rotate(-45deg);
//   }
// }

// .menu-click {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   position: absolute;
//   &:before,
//   &:after,
//   & div {
//     background: #fff;
//     content: '';
//     display: block;
//     height: 2px;
//     width: 17px;
//     margin: 4px 0;

//     transition: 0.5s;
//   }
// }

// .menu-click--open {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   position: absolute;

//   &:before {
//     background: #fff;
//     content: '';
//     display: block;
//     height: 2px;
//     width: 17px;
//     margin: 4px 0;
//     transition: 0.5s;
//     transform: translateY(6px) rotate(135deg);
//   }
//   &:after {
//     background: #fff;
//     content: '';
//     display: block;
//     height: 2px;
//     width: 17px;
//     margin: 4px 0;
//     transition: 0.5s;
//     transform: translateY(-6px) rotate(-135deg);
//   }
//   & div {
//     // transform: scale(0);
//   }
// }

.test-tag {
  color: white;
}
