$main-text-color: rgba(78, 78, 78, 1);
$subtitle-text-color: rgba(124, 124, 124, 1);
$post-text-color: rgba(92, 92, 92, 1);
$footer-bg-color: rgba(0, 0, 0, 1);
$footer-title-color: rgba(254, 254, 254, 1);
$footer-text-color: rgba(185, 185, 185, 1);
$active: rgba(87, 164, 164, 1);
$hover: rgba(124, 192, 192, 1);
$burger-bg-color: rgba(245, 245, 245, 1);
$burger-hover: rgba(229, 229, 229, 1);
