.wrapper {
    max-width: 1280px;
}
.navbar {
    height: 78px;
}

.ul__navbar {
    display: flex;
}

.li__navbar {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-left: 72px;
}

.li__navbar:last-child {
    margin-left: 50px;
}
