*,
*::after,
*::before {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  font-family: $font;
  background-color: #000;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 62px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper {
  position: relative;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 860px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__link-logo {
  @media (max-width: 1000px) {
  }
}
.menu {
  @extend %list-reset;
  display: flex;

  @media (max-width: 1000px) {
    flex-grow: 1;
    margin-left: auto;
    justify-content: flex-end;
  }
  @media (max-width: 860px) {
    margin-left: 0;
    margin-top: 40px;
    justify-content: flex-start;
  }
  @media (max-width: 640px) {
    display: none;

    &--opened {
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      margin-top: 0;
      padding-left: 81px;
      width: 300px;
      height: 100vh;
      background-color: rgba(26, 50, 54, 0.95);
    }
  }
}
.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;

  &:hover {
    color: $accentColor;
  }
}
.socials {
  @extend %list-reset;
  display: flex;

  @media (max-width: 1000px) {
    margin-top: 100px;
    width: 100%;
  }
  @media (max-width: 860px) {
    margin-top: 66px;
  }
  @media (max-width: 640px) {
    margin-top: 80px;
  }
}
.socials__item {
  &:not(:last-child) {
    margin-right: 21px;
  }
}

.socials__link {
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;

  display: block;

  &--vk {
    background-image: url('../img/vk.svg');
    background-size: 30px 18px;
  }
  &--instagram {
    background-image: url('../img/instagram.svg');
    background-size: 18px 18px;
  }
  &--youtube {
    background-image: url('../img/youtube.svg');
    background-size: 26px 18px;
  }
}

.burger {
  margin: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 20px;
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../img/burger.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  @media (max-width: 640px) {
    display: block;
  }
}
.tips {
  background-image: url(../img/Phones.png), linear-gradient(rgba(21, 21, 21, 0.85), rgba(21, 21, 21, 0.85)),
    url(../img/header-bgd.jpg);
  background-repeat: no-repeat;
  background-size: auto, 100%, cover;
  padding-top: 240px;
  padding-bottom: 297px;
  background-position: left 45vw top 185px, center, center;
  @media (max-width: 1000px) {
    background-image: url(../img/phones-1000px.png), linear-gradient(rgba(21, 21, 21, 0.85), rgba(21, 21, 21, 0.85)),
      url(../img/header-bgd.jpg);
    background-size: auto, 100%, cover;
    background-position: right 1vw top 40px, center, center;
  }
  @media (max-width: 768px) {
    background-image: url(../img/phones-768px.png), linear-gradient(rgba(21, 21, 21, 0.85), rgba(21, 21, 21, 0.85)),
      url(../img/header-bgd.jpg);
    background-size: auto, 100%, cover;
    background-position: right 1vw top -15px, center, center;
  }
  @media (max-width: 520px) {
    background-image: url(../img/Phones.png), linear-gradient(rgba(21, 21, 21, 0.85), rgba(21, 21, 21, 0.85)),
      url(../img/header-bgd.jpg);
    background-size: auto, 100%, auto 769px;
    background-position: bottom -100px right 0, center, top center;
    padding-bottom: 443px;
  }
}
.tips__title {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 82px;
  max-width: 65%;
  @media (max-width: 1000px) {
    font-size: 60px;
    line-height: 70px;
  }
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }
}
.tips__description {
  color: white;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 26px;
  max-width: 65%;
  @media (max-width: 1000px) {
    font-size: 20px;
    line-height: 23px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }
}
.tips__button {
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  padding: 18px 36px;
  border: $accentColor solid 2px;
  line-height: 21px;
  display: inline-block;
  @media (max-width: 700px) {
    display: block;
  }
}
.tips__button--first {
  color: blue;
  margin-right: 30px;
  background-color: #000;
  box-shadow: 0px 10px 50px rgba(0, 0, 15, 0.65);
  @media (max-width: 700px) {
    width: 274px;
  }
}
.tips__button--second {
  color: $accentColor;
  @media (max-width: 700px) {
    width: 225px;
    margin-top: 30px;
  }
}
