.div {
    width: 200px;
    height: 200px;
}
.first {
    background-color: black;
    color: white;
}
.second {
    background-color: yellow;
    color: orangered;
}

#wrapper {
    width: 300px;
    background-color: orchid;
}
