/* table {
   border: 1px solid #000;
   border-collapse: separate;
   width: 100%;
}
td,
th {
   border: 1px solid #000;
}

.blue-bgd {
   background-color: deepskyblue;
}
.yellow-bgd {
   background-color: lightyellow;
}
.red-bgd {
   background-color: lightpink;
} */
/* 
.flex-container {
   list-style: none;
   height: 400px;
   padding: 15px;
   border: 2px solid #000;

   display: flex;
   flex-wrap: wrap; */

/* flex-direction: column; */
/* align-content: flex-start; */
/* } */
/* .flex-element {
   height: 100px;
   width: 100px;
   border: 2px ridge #0f0;

   flex-grow: 1;
   /* flex-shrink: 3; */
/* flex-basis: 300px;
   flex: 1 3 200px;
} */

/* .flex-element:nth-child(3) { */
/* flex-grow: 3; */
/* flex-shrink: 0; */
/*align-self: flex-end;*/
/* order: 1;
}  */

/* .flex-container {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0;
}
.flex-element {
   width: calc((100% - 40px) / 3);
   background-color: silver;
   margin-bottom: 20px;
} */

/* .flex-container {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0;
}
.flex-element {
   width: 100px;
   background-color: silver;
   margin: 10px;
   padding: 50px 0;
}

.flex-element:nth-child(3) {
   margin-left: auto;
} */

.flex-container {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   flex-direction: column;
   height: 600px;
}
.flex-element {
   background-color: silver;
   flex-grow: 1;
   margin: 10px;
   width: 20vw;
}
.flex-element:nth-child(1) {
   height: 100%;
   width: calc(100% - 20vw - 40px);
}
