/*
selector {
    prop: prop-value;
    prop: prop-value;
    prop: prop-value;
    prop: prop-value;
    prop: prop-value;
    prop: prop-value;
}
*/
h1.page-title {
   color: red;
}
.paragraph {
   font-size: 20px;
   line-height: 1.5;
}
.page-title {
   color: #0f0;
   text-transform: uppercase;
}
/*
tag, pseudo-elements -> 1
class, pseudo-class -> 10
id -> 100
inline -> 1000
######
!important -> MAX
*/
/* 
.list a {
   text-decoration: none;
}
.list-item > a {
   font-size: 20px;
}
*/
.page-body {
   margin: 0;
   font-family: sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}
a {
   text-decoration: none;
}

.list-link {
   text-decoration: none;
   font-size: 20px;
   color: #dc143c;
}

.page-nav {
   background-color: #191970;
   padding: 10px 30px;
}

.logo {
   font-size: 30px;
   color: #fff;
   text-transform: capitalize;
   font-variant: small-caps;
}

.list {
   padding-left: 0;
   margin: 0;
   list-style: none;

   text-align: right;
}

.list-item {
   display: inline;
   margin-left: 30px;
   margin-right: 30px;
}

.picture {
   width: 100%;
   height: 400px;
}
