* {
  font: 14px sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.randomizer {
  padding: 40px;
  margin: 100px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #c5c5c5;
}

.randomizer__title {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.randomizer__btn {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.randomizer__btn--start {
  background-color: darkgreen;
}

.randomizer__btn--reset {
  background-color: darkred
}