.image-to-show {
    width: 400px;
    height: 400px;
    display: block;
}

.images-wrapper {
    /* display: block; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.remove {
    display: none;
}
