.page-body {
   font-family: sans-serif;
}
.container {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
}

.banner {
   background-image: url(../img/banner-bgd.jpg);
   background-size: cover;
   padding-top: 500px;
   padding-bottom: 149px;
   color: #fff;
}
.banner-title {
   text-transform: uppercase;
   font-size: 48px;
   line-height: 59px;
   margin-bottom: 15px;
   margin-top: 0;
}
.banner-description {
   margin-top: 0;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 22px;
}
.banner-slogan {
   margin-top: 0;
   border: 1px solid #ffffff;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 38px 31px;
   font-size: 54px;
   line-height: 66px;
   text-transform: uppercase;
   display: inline-block;
}
.accent-color {
   color: #f48e0b;
}
.banner-slogan .accent-color {
   margin-right: 52px;
}

.services {
   padding-bottom: 195px;
}

.section-title {
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 0;
   margin-top: 0;
   color: #333333;
}
.section-header::after {
   display: block;
   content: "";
   border-bottom: 7px solid #f1ad1d;
   width: 62px;
   margin-top: 47px;
   margin-left: auto;
   margin-right: auto;
}
.section-description {
   font-size: 17px;
   line-height: 24px;
   text-align: center;
   color: #4d4943;
   margin-top: 28.5px;
   margin-bottom: 45.5px;
}

.section-line {
   height: 7px;
   background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
   border: none;
   width: 62px;
   margin-bottom: 42px;
}
.services-list {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.services-list-item {
   width: 268px;
   text-align: center;
   padding-bottom: 35px;
   border-bottom: 6px solid #333333;
}
.item-title {
   background-color: #333333;
   padding: 24px 0 17px;
   color: #ffffff;
   margin-bottom: 30px;
}

.item-icon {
   height: 50px;
   object-fit: contain;
   object-position: center;
}

.item-text {
   margin-top: 30px;
   font-size: 14px;
   font-weight: 300;
   line-height: 17px;
   color: #505050;
   min-height: 70px;
}
.item-line {
   width: 66px;
   height: 6px;
   border: none;
   background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
}
.title-offer {
   font-size: 18px;
   line-height: 22px;
   color: #505050;
   margin-top: 28px;
   margin-bottom: 13px;
}
.offer-list {
   padding: 0;
   margin: 0;
   list-style: none;
}
.offer-text {
   color: #505050;
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
}

.about-us {
   padding-bottom: 124px;
}

.block-about-us {
   display: flex;
}
.about-us-services {
   display: flex;
   width: 50%;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: none;
   flex-wrap: wrap;
   justify-content: space-between;
}

.about-us-services-item {
   width: 270px;
   margin-bottom: 22px;
}

.about-us-services-link {
   text-decoration: none;
   color: #ffffff;
   position: relative;
}

.about-us-services-link-text {
   width: 117px;
   background-color: #333333;
   padding-left: 17px;
   padding-top: 14px;
   padding-bottom: 14px;
   font-size: 14px;
   line-height: 14px;
   position: absolute;
   bottom: 15px;
   left: 13px;
}

.about-us-services-description {
   width: 50%;
   padding-left: 30px;
}

.about-us-services-title {
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 22px;
}

.about-us-services-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 22px;
   color: #505050;
   margin-bottom: 36px;
   margin-top: 0;
}

.about-us-services-button {
   display: inline-block;
   background-color: #f1ad1d;
   color: #fff;
   padding: 19px 27px;
   text-decoration: none;
}
.filter-work {
   list-style: none;
   padding-left: 0;
   display: grid;
   grid-auto-flow: column;
   justify-content: center;
   grid-column-gap: 16px;
}
.filter-work-link {
   text-decoration: none;
   color: #111111;
   font-weight: 300;
   font-size: 14px;
   line-height: 14px;
   border: 1px solid #333333;
   padding: 12px 40px;
}
.filter-work-link-active {
   background-color: #333333;
   color: #f1ad1d;
}
.work-list {
   display: grid;
   list-style: none;
   padding-left: 0;
   margin-top: 50px;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: 271px;

   row-gap: 15px;
   column-gap: 15px;
}
.work-list-item {
   background-color: skyblue;
   position: relative;
   display: flex;
}

.work-list-item-hover-block {
   display: none;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   bottom: 0;
   text-align: center;
   padding-left: 13px;
   padding-right: 13px;
   border: 2px solid #333333;
}

.work-list-item:hover .work-list-item-hover-block {
   display: block;
}

.hover-line {
   margin-top: 23px;
   margin-bottom: 0;
   background-color: #f1ad1d;
   width: 64px;
   height: 3px;
   border: none;
}
.hover-title {
   margin-top: 42px;
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: #111111;
   margin-bottom: 0;
}

.hover-text {
   overflow: auto;
   height: 47px;
   margin-top: 28px;
   margin-bottom: 0;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5b5b5b;
}

.hover-link {
   margin-top: 27px;
   margin-bottom: 37px;
   display: inline-block;
   text-decoration: none;
   background-color: #f1ad1d;
   text-align: center;
   width: 141px;
   color: #ffffff;
   padding: 10px;
   font-size: 14px;
   line-height: 18px;
}
.filter-work-link:hover {
   background-color: #333333;
   color: #f1ad1d;
}

.nav-header-list {
   display: flex;
   padding: 0;
   margin: 0;
   list-style: none;
}

.nav-header-item {
   margin-left: 69px;
}

.nav-header-link:hover {
   color: #f1b128;
}

.nav-header-link {
   text-decoration: none;
   font-size: 18px;
   line-height: 22px;
   color: #3d3d3d;
   text-transform: uppercase;
}

.nav-header {
   display: flex;
   justify-content: space-between;
   border-bottom: 3px solid #f1b128;
   padding-bottom: 22px;
}

.page-header {
   padding-top: 20px;
   padding-bottom: 10px;
}
.share-goods {
   padding-top: 80px;
   padding-bottom: 100px;
}
.goods {
   margin: 0;
   padding-left: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   height: 600px;
}
.goods-item {
   width: 370px;
   border-bottom: 6px solid #333;
}
.goods-footer {
   color: #828282;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 300;
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
   margin-bottom: 5px;
   padding-top: 11px;
}
.goods-readmore {
   text-decoration: none;
   color: #828282;
}
.goods-date {
   margin: 0;
}
.goods-content {
   border-bottom: 4px solid #c1c1c1;
}
.goods-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #505050;
}
.goods-edit-button {
   width: 39px;
   height: 35px;
   background-color: #333333;
   background-image: url(../img/pencil.svg);
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   vertical-align: middle;
   margin-right: 8px;
}
.goods-image-wrapper {
   display: flex;
   text-decoration: none;
}
.goods-title {
   display: inline-block;
   vertical-align: middle;
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   color: #333333;
}
.goods-title-wrapper {
   vertical-align: middle;
   display: inline-block;
}
.quotes {
   background-color: #dbdbdb;
   padding-top: 20px;
   padding-bottom: 15px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
.quotes-text {
   font-size: 26px;
   line-height: 30px;
   color: #666666;
   font-weight: 300;
}
.quotes-author {
   font-size: 12px;
   line-height: 16px;
   color: #9c9b9b;
}
.quotes::before {
   content: url(../img/qq.svg);
   position: absolute;
   right: 27px;
   bottom: 17px;
}
.feedback-form {
   width: 50%;
}
.feedback-form-title {
   font-size: 18px;
   line-height: 18px;
   color: #ffffff;
   width: 383px;
   background-color: #333333;
   padding: 24px 17px 17px 17px;
   margin-bottom: 0;
}
.form-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 22px;
   color: #505050;
   margin-top: 12px;
}
.form-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.form-input {
   max-width: 274px;
}
.form-input:nth-child(1) {
   margin-right: 25px;
}

.form-data {
   margin-bottom: 20px;
   width: 100%;
   padding: 21px 14px 14px;
}
.form-textarea {
   resize: none;
}
.form-data::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   font-style: italic;
   font-weight: 300;
   font-size: 14px;
   line-height: 12px;
   color: #505050;
}
.form-data::-moz-placeholder {
   /* Firefox 19+ */
   font-style: italic;
   font-weight: 300;
   font-size: 20px;
   line-height: 12px;
   color: #505050;
}
.form-data:-ms-input-placeholder {
   /* IE 10+ */
   font-style: italic;
   font-weight: 300;
   font-size: 20px;
   line-height: 12px;
   color: #505050;
}
.form-data:-moz-placeholder {
   /* Firefox 18- */
   font-style: italic;
   font-weight: 300;
   font-size: 20px;
   line-height: 12px;
   color: #505050;
}
.form-button {
   width: 122px;
   font-weight: 900;
   font-size: 14px;
   line-height: 14px;
   color: #ffffff;
   background-color: #f1ad1d;
   padding: 16px 40px;
   border: none;
   text-transform: uppercase;
   margin-right: 20px;
}
